* {
    margin: 0;
    padding: 0;
}
#main{
    width: 100%;
    /* height: 100vh; */
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}
#mainDiv {
    width: 47%;
    height: 100%;
    margin-left: 20px;
}

#mainDiv2 {
    width: 47%;
    height: 100%;
    margin-right: 20px;
}

#headDiv {
    width: 100%;
    display: inline-block;
    font-size: 0.9em;
}
#table1 {
    float: left;
    width: 60%;
}

#table2 {
    float: right;
    width: 40%;
}

#mainTable {
    border: 2px solid black;
    width: 100%;

    font-size: 0.84em;
}


#mainTable1 {
    border: 2px solid black;
    font-size: 0.84em;
    width: 100%;
}

#td {
    text-align: center;
}

#div2 {
    width: 100%;
    /* height: 50vh; */
}

#bottomTable {
    width: 78%;
    float: right;
    font-size: 0.8em;

}

.color {
    background: rgba(0, 0, 0, 0.3);
    -webkit-print-color-adjust: exact;
}

h3 {
    display: inline-block;
    border-top: 2px solid black;
    width: 70%;
    text-align: center;
}
#divP{
    width: 50%;
    flex: 1;
    /* float: left; */
    font-size: 0.7em;
    font-style: italic;
}
p{
    text-align: center;
}
#tableDiv{
    width: 50%;
    flex: 1;
    /* text-align: right; */
    /* float: right; */
}
#td1{
    font-size: 0.9em;
    font-style: italic;
}
#td2{
    text-align: right;
}
#div3{
    width: 100%;
    height: 15vh;
    display: flex;
    margin-top: 15px;
}
#sign{
    width: 50%;
    text-align: center;
}
#mainTable{
    border-collapse: collapse; 
}

#mainTable td{
    border-top: 1px solid black; 
 }
#mainTable1{
    border-collapse: collapse; 
}

#mainTable1 td{
    border-top: 1px solid black; 
 }
   
 #heading{
    width: 100%;
    text-align: center;
 }
.textI{
    font-style: italic;
}
.tr{
    border-right: 1px solid black;
}
#bottomTable{
    border-collapse: collapse; 
}

#bottomTable #border {
    border-top: 1px solid black; 
 }
svg{
    height: 6vh;
    width: 50%
}
/* .bar{
    column-span: 2;
} */
.text{
    text-align: right;
}
#center{
    text-align: right;
}
.text1{
    padding-left:5px ;
}
.padding{
    padding-top: 5px;
}
.bold{
    font-weight: bold;
}
#table1 .bold{
    font-size: 0.8em;
}
.under{
    text-decoration: underline;
}
#divP1{
    width: 50%;
    flex: 1;
    /* float: left; */
    font-size: 0.9em;
    font-style: italic;
}
